body {
	/*background-color: black !important;*/
	/*color: white;*/
}

.blockingnotice, .blockagain {
	color: silver;
}

.blockingnotice:hover, .blockagain:hover {
	color: black;
	transition: color 1s;
	cursor: pointer;
}
